body {
    padding: 0;
    margin: 0;
    background: whitesmoke
}
.header {
    background: #f5ed00;
    color: grey;
    height: 60px;
    text-align: center;
}

.header h2{
    margin: 0;
    padding: 0;
}

.title {
    background: #1abc9c;
    color: white;
    height: 300px;
    text-align: center;
}

.title h1{
    margin: 0;
    padding: 0;
}

.links{
    background: #333;
    height: 40px;
    padding-top: 20px;    
}

.links a{
    padding: 20px;
    color: white;
    text-decoration: none;
}

a:hover {
    background: grey;
}

.container {
    display: flex;
}

.sidebar {
    background: #f1f1f1;
    width: 40%;
}


.fakeImage {
    height: 200px;
    width: 95%;
    background:#aaa;
    border: 1px solid purple;
}

.smaller {
    height: 87.5px;
    margin-bottom: 10px;
}

.main {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.mainText {
    margin-left: 20px;
}












/* flexbox */

/* 
.container {
    background-color: grey;
    padding: 15px;
    display: flex;
    align-items: stretch;
}

.item {
    font-size: 24px;
    margin: 5px;
    padding: 20px;
    background:lightgrey;
    align-self: center;
}

@media screen and (max-width: 700px){
    .container{
        background: yellowgreen;
        flex-direction: column;
    }
}

 */


/* kartica */

/* 
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 500px;
    padding: 25px 30px;
    background-color: whitesmoke;
    margin: 30px auto;
}

.picture {
    width: 400px;
    margin-left: 25px;
    margin-bottom: -3px;
}

.advert {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    
}

.advert h1 {
    padding: 0;
    margin: 0;
}

.advert h1, h3{
    text-align: center;
}

.advert h3 {
    color: grey;
}

.advert p{
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

.add {
    margin: auto;
    padding: 0;
    background-color: black;
    width: 400px;
    height: 30px;
    color: white;
}

.add h3 {
    margin:0;
    padding: 0;
}
 */



/* clock */
/* body {
    background-color: black;
}

.wrapper {
    height: 400px;
    width: 200px;
    border: 1px solid black;
    position: relative;
    top: 0;
    left: 0;
    background: black;
    float: left;
}

.segment {
    width: 10px;
    height: 160px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 3px 10px red;
}

.s1 {
    transform: rotate(90deg);
    top: -40px;
    left: 95px;
}

.s2 {
    top: 44px;
    left: 10px;
}

.s3 {
    top: 44px;
    left: 180px;
}

.s4 {
    transform: rotate(90deg);
    top: 129px;
    left: 95px;
}

.s5 {
    top: 214px;
    left: 10px;
}

.s6 {
    top: 214px;
    left: 180px;
}

.s7 {
    transform: rotate(90deg);
    top: 299px;
    left: 95px;
}

.ugasen {
    opacity: .03;
}  */

/* transitions CSS */

/* 
@keyframes prva {
    0%{
        top: 0;
    }
    25%{
        top: 200px;
        left: 0;
    }
}

.krug {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    animation-name: prva;
    animation-duration: 3s;
}

.krug:hover {
    background: #121212;
    transition: all 0.7s ease-out 1.3s;
}

.main {
    border: 1px solid black;
    width: 500px;
    height: 500px;
} 
*/

/* 
.kocka {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-transform: uppercase;
    background: black;
}

.main:hover .kocka {
    background: black;
}

.div1 {
    transition: all 4s ease 1s;
}
.main:hover .div1 {
    margin-top: 449px;
    margin-left: 449px;
    background: blue;
    transform: rotate(720deg);
}


.div2 {
    transition: all 4s ease 0.8s;
}

.div3 {
    transition: all 4s ease 0.6s;
}



.main:hover .div2 {
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-left: 100px;
    background: black;
    transform: rotate(720deg);
}

.main:hover .div3 {
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-left: 100px;
    background: green;
    transform: rotate(720deg);
} */

/* sesti zadatak, hrana */

/* 
body {
    padding: 0;
    margin: 0;
    background-image: url(https://www.itl.cat/pngfile/big/10-103166_food-wallpaper-fast-food.jpg);
}

h1 {
    padding: 0;
    margin: 0;
}

#wrapper {
    overflow: hidden;
}

.home {
    width: 100%;
    background: darkorange;
    padding: 15px 10px;
    height: 40px;
    text-align: center;
}

.meal-form {
    color: black;
    margin: 30px;
    padding: 100px 10px;
    width: 500px;
    background: white;
    opacity: 0.9;
    float: left;
}

.meal-form h1 {
    text-align: center;
    display: inline;
}

.meal-form input, textarea {
    width: 90%;
    margin: 10px 7px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
}

.buttons {
    text-align: center;
    margin-top: 15px;
}

#add-btn {
    background: lightgreen;
    font-size: 20px;
    margin-top: 4px;
    margin-right: 20px;
}

#clear-btn {
    background: black;
    font-size: 20px;
}

#results {
    float: left;
    width: 50%;
    color: black;
    margin: 30px;
    padding: 100px 10px;
    width: 500px;
    background: white;
    opacity: 0.9;
    display: block;
}

#results div {
    width: 50%;
    border: 2px solid purple;
    padding: 20px;
    background: #fff; 
}

 */

/* peti zadatak */

/* 
body {
    padding: 0;
    margin: 0;
    background-color: white;
}

#login-form {
    display: none;
}

.login-form {
    padding: 100px 20px;
    width: 400px;
    background: lightgrey;
    opacity: 0.8;
    margin: 5% auto;
}

.login-form input {
    width: 90%;
    margin: 10px 7px;
    padding: 5px 10px;
    font-size: 32px;
    border-radius: 10px;
    outline: none;
}

.login-form button {
    width: 96%;
    font-size: 32px;
    background: green;
    color: white;
    margin: 10px 7px;
    padding: 5px 10px;
    border-radius: 20px;
}

.login-error {
    display: none;
    color: black;
    font-weight: 500;
    font-size: 28px;
    margin: 10px 7px;
}

.home {
    width: 100%;
    display: none;
    background: blue;
    padding: 15px 10px;
    height: 50px;
    position: relative;
}

.home span {
    color: white;
    font-size: 24px;
    vertical-align: middle;
    padding: 0 10px;
}

.user-info {
    position: absolute;    
    right: 105px;
}

.user-info button{
    font-size: 18px;
    background: black;
    color: white;
    border-radius: 40px;
}

.user-info em {
    font-size: 34px;
    color: orangeblack;
}
*/

/* treci zadatak */

/* #kockica {
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 15%;
    margin: auto;
}
#kockica p {
    color: #ffffff;
    font-size: 63px;
    text-align: center;
    font-weight: bold;
    padding: 40%;
}
#button {
    margin: 20px;
    font-size: 44px;
    background-color: green;
    color: #ffffff;
}
#but {
    text-align: center;
} */

/* drugi zadatak */

/* .box {
    width: 450px;
    height: 350px;
    margin-bottom: 10px;
}
#box1 {
    background-color: black;
}

#box2 {
    background-color: blue;
}

 */

/* prvi zadatak */

/* #prviDiv {
    width: 400px;
    height: 600px;
    background-color: black;
}

#buttonClick {
    margin: auto;
}

#colorPicker {
    margin-top: 15px;
    margin-left: 10px;
} */